    <script type="text/javascript">
        $(document).ready(function() {
            $( ".embedElement" ).each(function() {
                var elem = $(this);
                var embURL = $(elem).find('.embedImg').attr('src');
                $.ajax({
                    url: 'http://www.slideshare.net/api/oembed/2?url='+embURL+'&format=json',
                    dataType: 'jsonp',
                    success: function(data){
                        $(elem).find('.embedImg').attr('src', data.thumbnail);
                        $(elem).find('.embedTitle').html(data.title);
                        $(elem).find('.embedAuthor').html(data.author_name);                        
                    }
                });        
            });
        });
    </script>

 <div class="sliderPresen">    
    #foreach( $obj in $childs )
       #foreach ($rec in $obj.listResources())
            #set ($slide = $rec.getAttribute("idSlide"))
            #if($slide)

            <div class="itemPresen embedElement">
                <a class="embedSrc" href="$obj.getUrl()">
                    <img alt="Imagen SlideShare Presentation" class="embedImg" src="$slide" />
                </a>
                <span>
                <a class="embedTitle" href="$obj.getUrl()">
                                $obj.getTitle()
                            </a>
                </span>
            </div>                          
            #end
       #end
    #end
</div>
<div class="btnVer">
    <a class="ver_mas" href="$urlPage">
        Ver más
    </a>
</div>    